@import '../../styles/variables';

@keyframes spin {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

.stop-watch-component {

  &.running {
    .time-display {
      .spinner {
        animation-name: spin;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }
  .time-display {
    position: relative;
    margin: auto;
    width: 75%;
    padding-top: 75%;

    > * {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
    }

    time {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: calc(var(--large-grid-unit) * 2);

      span{
        font-weight: bold;

        &:before { content: ':'; padding: 0 .25rem;}
        &:empty { display: none; }
        &:last-child {font-size: .65em;}
        &:first-child {
          &:before { content: none; }
        }
      }
    }

    .spinner {
      border-radius: 50%;
      box-shadow: 0 0 0 .25rem;

      &:after { transform: translate(-50%, 0); }
    }

    &:after { transform: translate(-50%, calc(-100% - .25rem)) rotate(180deg); }
    &:after, .spinner:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: .25rem;
      height: .5rem;
      background: var(--copy-color);
    }
  }

}

@media #{$small-only} {
  .stop-watch-component {

  }
}

@media #{$medium-only} {
  .stop-watch-component {

  }
}

@media #{$large-only} {
  .stop-watch-component {

  }
}