@import '../../styles/variables';

@keyframes spin {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

.stop-watch-component {
  position: relative;

  .speak-toggle {
    position: absolute;
    top: 0;
    right: 0;
  }
  .time-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--large-grid-unit) * 3);

    // time segments
    span {
      font-weight: bold;

      &:before { content: ':'; padding: 0 .125rem;}
      &:empty { display: none; }
      &:last-child {font-size: .65em;}

      &:first-child,
      &.hours {
        &:before { content: none; }
      }

      &.days {
        // did they forget it was running??
        width: 100%;
        display: block;
        font-size: 1.75em;
        text-align: center;
        position: relative;

        &:after {
          position: absolute;
          content: 'DAYS';
          font-size: 1rem;
          color: var(--copy-color-semi);
          top: calc(100% - 2.65rem);
        }
      }
    }
  }

  .lap-times {
    display: flex;
    justify-content: center;
    margin-top: var(--large-grid-unit);
    max-height: 8rem;
    mask-image: linear-gradient(180deg, #000 4rem, transparent);
    overflow: hidden;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }
}

@media #{$small-only} {
  .stop-watch-component {

  }
}

@media #{$medium-only} {
  .stop-watch-component {

  }
}

@media #{$large-only} {
  .stop-watch-component {

  }
}