@import url(//fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Open+Sans&display=swap);
@import './variables';
@import './themes';
@import './text-treatments';
@import './buttons';
@import './util';

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  * {
    box-sizing: inherit;

    &:before, &:after {
      box-sizing: inherit;
    }
  }
}





@media #{$small-only} {
  html, body, #root {
    --large-grid-unit: 1rem; // further theming? compact vs spacious
    --medium-grid-unit: .5rem;
    --small-grid-unit: .25rem;
  }
}

@media #{$medium-only} {
  html, body, #root {
    --large-grid-unit: 2rem;
    --medium-grid-unit: 1rem;
    --small-grid-unit: .5rem;
  }
}

@media #{$large-only} {
  html, body, #root {
    --large-grid-unit: 2rem;
    --medium-grid-unit: 1rem;
    --small-grid-unit: .5rem;
  }
}