button, .button {
  --color1: var(--accent); // text color
  --color2: var(--foreground); // background
  --color3: var(--accent); // focus color

  cursor: pointer;
  display: inline-block;
  margin: .33rem;
  white-space: pre;
  line-height: 1;
  padding: .6em 1em;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: var(--color1);
  background: var(--color2);
  position: relative;
  border-radius: var(--standard-radius);
  border: none;
  text-decoration: none !important;
  font-weight: 700;
  font-family: 'Open Sans',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  min-width: 4.5rem;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: none;


  &:hover { text-decoration: none; }
  &:focus,
  &:active,
  &:visited {
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 0 .125rem var(--color3) inset;
  }

  &.big { font-size: 1.5rem; }
  &.small { font-size: .8rem; padding: .8em 1em;}


  &.toggled {
    color: var(--color2);
    background: var(--color1);

    &:focus, &:active { box-shadow: 0 0 0 .125rem var(--color3) inset; }
  }

  &.round {
    border-radius: 2rem;
    padding: .75em;
    min-width: 4rem;
    min-height: 4rem;
  }

  &.on-foreground {
    --color2: var(--background); // background
  }

  &.icon {
    min-width: 2.375rem;
    padding: .6rem;
  }

  &.disabled,
  &[disabled] {
    --color1: var(--copy-color-semi);
    filter: grayscale(1);
    background: transparent;
    pointer-events: none;
    box-shadow: 0 0 0 .125rem var(--color1) inset;
  }
}