@import './variables';

.theme-light {
  --background: var(--light-gray);
  --foreground: white;
  --copy-color: var(--darkest-gray);
  --copy-color-semi: var(--medium-gray);
  --accent: var(--blue); // further theming?  set accent separately from light/dark
}

.theme-dark {
  --background: var(--darkest-gray);
  --foreground: var(--dark-gray);
  --copy-color: white;
  --copy-color-semi: var(--medium-gray);
  --accent: var(--orange);
}
