@import './variables';

.pull-left { float: left; }
.pull-right { float: right; }
.clear-fix::after {
  content: "";
  clear: both;
  display: table;
}

.text-center { text-align: center }
.text-left { text-align: left }
.text-right { text-align: right }

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;  /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;            /* 3 */
}

// utility classes for padding / margin
@each $boxProp in $boxProps {
  @each $sizeName, $sizeValue in $sizeValues {
    .#{$sizeName}-#{$boxProp} {
      #{$boxProp}: $sizeValue !important;
    }
  }
}

// utility classes for padding / margin
@each $boxProp in $boxProps {
  @each $side in $sides {
    @each $sizeName, $sizeValue in $sizeValues {
      .#{$sizeName}-#{$boxProp}-#{$side} {
        #{$boxProp}-#{$side}: $sizeValue !important;
      }
    }
  }
}