$breaks: (small: 0px, medium: 720px, large: 1023px );

$small-only: "(max-width: #{map-get($breaks, medium)})";
$medium-only: "(min-width: #{map-get($breaks, medium) + 1px}) and (max-width: #{map-get($breaks, large) - 1px} )";
$large-only: "(min-width: #{map-get($breaks, large)})";

$boxProps: padding, margin;
$sides: top, bottom, left, right;
$sizeValues: (
  no: 0,
  small: #{'var(--small-grid-unit, .5rem)'},
  medium: #{'var(--medium-grid-unit, 1rem)'},
  large:#{'var(--large-grid-unit, 2rem)'},
  x-large:#{'var(--x-large-grid-unit, 4rem)'},
  xx-large:#{'var(--xx-large-grid-unit, 8rem)'},
);

:root {
  --orange: rgb(231, 132, 0);
  --blue: rgb(0, 160, 204);
  --light-gray: #eee;
  --medium-gray:  #999;
  --dark-gray: #333;
  --darkest-gray: #181818;
  --standard-radius: .33rem;
}