@import './styles/variables';

.demo-app {
  background-color: var(--background, white);
  min-height: 100%;
  min-height: stretch;
  padding: var(--large-grid-unit, 1rem);
  color: var(--copy-color, #222);

  main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(-1 * var(--medium-grid-unit, .5rem));

    > section {
      padding: var(--large-grid-unit, 1rem);
      margin: var(--medium-grid-unit, .5rem);
      border-radius: var(--standard-radius, .33rem);
      background-color: var(--foreground, #eee);
      min-width: calc(50% - (2 * var(--medium-grid-unit, .5rem)));
    }
  }
}


@media #{$small-only} {
  .demo-app {
    main {
      > section {
        min-width: calc(100% - (2 * var(--medium-grid-unit, .5rem)));
      }
      .component-section { order: 1 }
      .event-section { order: 2 }

    }
  }
}

@media #{$medium-only} {
  .demo-app {
    main {
      > section {
        min-width: calc(50% - (2 * var(--medium-grid-unit, .5rem)));
      }
      .component-section { order: 2 }
      .event-section { order: 1 }

    }
  }
}

@media #{$large-only} {
  .demo-app {
    main {
      > section {
        min-width: calc(50% - (2 * var(--medium-grid-unit, .5rem)));
      }
      .component-section { order: 2 }
      .event-section { order: 1 }

    }
  }
}