@import './styles/variables';

.demo-app {
  background-color: var(--background);
  min-height: stretch;
  padding: var(--large-grid-unit);
  color: var(--copy-color);

  main {
    display: flex;
    margin: 0 calc(-1 * var(--medium-grid-unit));
  }

  section {
    border-radius: var(--standard-radius);
    padding: var(--large-grid-unit);
    background-color: var(--foreground);
    margin: var(--medium-grid-unit);
    flex-basis: calc(50% - (2 * var(--medium-grid-unit)));
  }
}